@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff4500;
  --secondary: #87ceeb;
  --dark: #111;
  --light-1: #eee;
  --light-2: #fafafa;
  --grey-dk: #333;
  --grey-lg: #ccc; 
  --wisdom: #1e90ff;
  --gold: #ffd700;
  --accept: #228b22;
  --warm: #b5341d;
  --xs: 5px;
  --sm: 10px;
  --md: 15px;
  --lg: 20px;
  --xl: 25px;
  --br-sm: 3px;
  --br-md: 5px;
  --br-lg: 8px; 
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem; 
  --h5-size: 1.25rem;
  --h6-size: 1rem; 
  --p-size: 1rem;
  --line-height: 1.5rem;
  --max-width: 1120px;
  --fixed-width: 600px;
  --transition: all 0.3 ease-in; 
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  background-color: var(--light-2);
  color: var(--grey-dk);
  line-height: var(--line-height);
} 

h1 { 
  font-size: var(--h1-size); 
  line-height: calc(var(--h1-size) * var(--line-height)); 
  font-weight: 400;
} 
h2 { 
  font-size: var(--h2-size); 
  line-height: calc(var(--h2-size) * var(--line-height)); 
  font-weight: 400;
} 
h3 { 
  font-size: var(--h3-size); 
  line-height: calc(var(--h3-size) * var(--line-height)); 
  font-weight: 400;
} 
h4 { 
  font-size: var(--h4-size); 
  line-height: calc(var(--h4-size) * var(--line-height)); 
} 
h5 { 
  font-size: var(--h5-size); 
  line-height: calc(var(--h5-size) * var(--line-height)); 
} 
h6 { 
  font-size: var(--h6-size); 
  line-height: calc(var(--h6-size) * var(--line-height)); 
} 
p { 
  font-size: var(--p-size); 
  line-height: calc(var(--p-size) * var(--line-height)); 
} 

.dark {
  color: var(--dark);
}
.light {
  color: var(--light-2);
}
.mist {
  color: var(--mist);
}
.wisdom {
  color: var(--wisdom);
}
.gold {
  color: var(--gold);
}
.ember {
  color: var(--primary);
}
.accept {
  color: var(--accept);
}
.warm {
  color: var(--warm);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light-2);
}
.bg-mist {
  background-color: var(--mist);
}
.bg-wisdom {
  background-color: var(--wisdom);
}
.bg-gold {
  background-color: var(--gold);
}
.bg-ember {
  background-color: var(--primary);
}
.bg-accept {
  background-color: var(--accept);
}
.bg-warm {
  background-color: var(--warm);
}

button { 
  border-radius: var(--xs); 
  padding: var(--xs) var(--sm); 
  font-size: 18px; 
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}

button:active {
  transform: scale(0.98);
}

/* Dark */ 
.btn-dark { 
  background-color: var(--dark); 
  color: var(--light-2); 
  border: 2px solid var(--dark);
} 
.btn-dark-outline { 
  border: 2px solid var(--dark); 
  color: var(--dark); 
  background-color: transparent; 
} 

/* Light */ 
.btn-light { 
  background-color: var(--light-2); 
  color: var(--dark); 
  border: 2px solid var(--light-2);
} 
.btn-light-outline { 
  border: 2px solid var(--light-2); 
  color: var(--light-2); 
  background-color: transparent; 
} 

/* Mist */ 
.btn-mist { 
  background-color: var(--grey-lg); 
  color: var(--grey-dk); 
  border: 2px solid var(--grey-lg);
} 
.btn-mist-outline { 
  border: 2px solid var(--grey-lg); 
  color: var(--grey-lg); 
  background-color: transparent; 
} 

/* Wisdom */ 
.btn-wisdom { 
  background-color: var(--wisdom); 
  color: var(--light-2); 
  border: 2px solid var(--wisdom);
} 
.btn-wisdom-outline { 
  border: 2px solid var(--wisdom); 
  color: var(--wisdom); 
  background-color: transparent; 
} 

/* Gold */ 
.btn-gold { 
  background-color: var(--gold); 
  color: var(--dark); 
  border: 2px solid var(--gold);
} 
.btn-gold-outline { 
  border: 2px solid var(--gold);
  color: var(--gold); 
  background-color: transparent; 
}   

/* Ember */ 
.btn-ember { 
  background-color: var(--primary); 
  color: var(--light-2); 
  border: 2px solid var(--primary);
} 
.btn-ember-outline { 
  border: 2px solid var(--primary); 
  color: var(--primary); 
  background-color: transparent; 
} 

/* Accept */ 
.btn-accept { 
  background-color: var(--accept); 
  color: var(--light-2); 
  border: 2px solid var(--accept);
} 
.btn-accept-outline { 
  border: 2px solid var(--accept); 
  color: var(--accept); 
  background-color: transparent; 
} 

/* Warm */ 
.btn-warm { 
  background-color: var(--warm); 
  color: var(--light-2); 
  border: 2px solid var(--warm);
} 
.btn-warm-outline { 
  border: 2px solid var(--warm); 
  color: var(--warm); 
  background-color: transparent; 
}

.title {
  color: var(--dark);
  margin-top: var(--lg);
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

form {
  width: 100%;
  background-color: var(--wisdom);
  border-radius: var(--br-md);
  padding: var(--lg) var(--xl);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
}

input {
  width: 100%;
  padding: var(--lg);
  border: none;
  border-radius: var(--br-md);
  background-color: var(--dark);
  color: var(--light-2);
  margin-bottom: 30px;
  font-size: var(--xl);
}

::placeholder {
  color: var(--grey-lg);
}

.task-form {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  margin-top: 1rem;
}
