@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Doto', serif;
  font-weight: 500;
  font-size: 20px;
  background-color: #000;
  color: #08c508;
  margin: 10px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  text-transform: uppercase
}

button {
  background-color: #08c508;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 10px; 
  transition: background-color 0.5s ease-in-out;
}

ul {
  margin: 10px 0;
}

button:hover {
  background-color: #056005;
}

